
:root {
  --primary-color: #ffffff;
  --secondary-color: #f5f5f5;
  --text-color: #000000;
  --background-color: #ffffff;
  --border-color: #791010;
}

.theme-transition {
  transition: all 0.3s ease;
} 